/vendor/

/.phpunit.result.cache
/.phpunit.cache/
/coverage/
/build/

.phpunit.result.cache

/.idea/
*.iml

/.vscode/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

/.php-cs-fixer.cache
/.phpstan.cache/
/psalm.xml
/psalm-baseline.xml

/.codex
/.agents/